# OS X
.DS_Store*
Icon?
._*

~


# npm
node_modules
package-lock.json
*.log
*.gz

# Flask stuff

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
*.xlsx

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover


#Other
.vscode




