@import "./_variables.scss";

@mixin card() {
  position: absolute;
  top: 30%;
  transform: translateY(-20%);
  min-height: 300px;
}

@mixin dark-header() {
  background-color: $wet-asphalt;

  h1 {
    text-align: center;
    color: #fff;
  }
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

@mixin emerald-btn() {
  background-color: $emerald !important;
  color: #fff;
}
